body {
    font-family: 'roboto', 'lato';
    /* background-image: url('../img/rain.jpg'); */
    background-color: #F9F9FF;
    /* background-color: #eadca6; */
    background-size: cover;
    max-height: 1000px;
    margin: 0;
    padding: 0;
    font-size: 13pt;
}


.navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: sticky;
    top:0;
    background:#0B0B2D;
    border-bottom: 3px solid #0B0B2D;
}

h1{
    font-size: 1.5em;
    text-align: center;
    line-height: 2;
    color: #0B0B2D
  }

h2{
    font-size: 17pt;
    text-align: center;
    padding: 5px;
  }

h3{
    font-size: 1.5em;
    text-align: center;
    line-height: 2;
    color: #ffffff
}

p {
    padding: 0 30px;
    color: #0B0B2D;
    text-align: center;
  }

h4 {
    padding: 0 30px;
    color: #ffffff;
    text-align: center;
}

  *:focus{
    border: 2px solid black;
  }

  /* add */
  /* :focus-visible{
    outline: 3px solid #aaa;
  } */

  .nav_item a{
    padding: 10px;
    color: #eadca6;
    text-align: center;
    text-decoration: none;
  }

  .nav_item a:hover{
    color: skyblue;
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
  }


  .nav_item_current{ 
    background-color: #eadca6 ;
    border: 0.1px solid #eadca6;
    border-radius: 5%;
    text-align: center;
}

  footer{
    /* position: fixed; */
    background-color: #0B0B2D;
    color: white;
    text-align: center;
    bottom: 0px;
    width: 100%;
  }

  .profilepic{
    text-align: center;
    animation: pulse 1s linear infinite both;

  }

.nav_links:visited {
    color: #2196F3;
  } 

.nav_links:link{
    display: flex;
    flex-direction: column;
    color:rgb(238, 165, 70);
}

.nav_item{
  display: flex;
  flex-direction: column;
  color:rgb(238, 165, 70);
}

.section1{
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
}
/* 
.container3{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px auto;
  justify-content: center;
} */

.indexP{
  padding-top: 20px;
  padding-bottom: 40px;
}

img{
  border-radius: 10%;
}

.grid-container{
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: auto;
  /* grid-column: 1 / 4; */
  background-color: rgb(24, 15, 8);
  padding: 10px;
  justify-content: center;

}

.orange {
  background-image: url('../img/OrangeSky.png');
}


.skip a{
  background: white;
  color: #080808;;
  left: 0;
  padding: 0px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -40px;
}

.skip a:focus{
  position: fixed;
  top: 0;
}

.contact-form{
  padding: 30px;
}

.legend{
  font-size: 20px;
}

.box:hover{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);  
}


.flip-card {
  text-align: center;
  background-color: transparent;
  width: 300px;
  height: 380px;
  perspective: 1000px;
  border-radius: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

/* .flip-card:hover .flip-card-inner{
  transform: rotateY(180deg);
  text-align: center;

} */

.flip-card a:focus .flip-card-inner{
  transform: rotateY(180deg);
  text-align: center;
  animation: pulse 1s linear infinite both;


}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

}

.flip-card-front {
  background-color: #bbb;
  color: black;
  text-align: center;

}

.flip-card-back {
  background-color: #a96bfa;
  color: white;
  transform: rotateY(180deg);
  border-radius: 30px;
  text-align: center;
  vertical-align: center;


}

/* formspree reset */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: 1.2rem;
  /* font-size: .825rem; */
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}

.parallax {
  /* The image used */
  background-image: url('../img/rain.jpg');

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nextPhoto{
  background-image: url('../img/singaporeSikh.jpg');
  min-height: 500px; 

}

.rainbow {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
  color: white;
  width: 200px;
  height: 30px;
  background-color: purple;
  border-radius: 30px;
  position: relative;
  animation-name: example;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


@keyframes example {
  0%   {background-color:purple;}
  25%  {background-color:rgb(40, 150, 135); }
  50%  {background-color:blue; }
  75%  {background-color:rgb(8, 8, 54); }
  100% {background-color:rgb(46, 14, 4); }
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
  .grid-container{
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    background-color: indianred;
  }

  .nav_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
  .container3 {
	display: grid;
  grid-template-columns: repeat(2, 2fr);
}

  .container4{
    display: flex;
    flex-wrap: wrap;
  }

  .singapore {
    flex: 1 1 30%;
  }
}

@media screen and (min-width: 1008px){
  .nav_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
  .navbar{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      position: sticky;
      top: 0;
      padding-left: 0px;
  }

  .grid-container{
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
    background-color: orange;
  }

  .container4{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .container3 {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
  }
  .singapore {
    flex: 1 1;
  }

}

@media (prefers-reduced-motion: reduce) {
  /* .flip-card-front, .flip-card-back{
    background-color: paleturquoise;
    transform: none !important;
} */
.flip-card{
  background-color: paleturquoise;
  transform: none !important;
}

 .profilepic{
   animation: none;
 }
 .rainbow{
  animation: none;
}
.parallax {
  background-attachment: scroll;
}
.nextPhoto{
  animation: none;
}

.box:hover{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);  
}

}